.table {
    margin: 16px;
    display: flex;
    justify-content: center;
    border-spacing: 1px;
}

.space {
    width: 20px;
    height: 20px;
}

.living {
    background-color:blue;
}

.dead {
    background-color:#bbb;
}